@use 'sass:meta';

@use '../css/reset.css';
@use '../css/normalize.css';
@use './svg-sprite';

// ATOMS
@include meta.load-css('../../../resources/scss/atoms/buttons/buttons');
@include meta.load-css('../../../resources/scss/atoms/tags/tags');

// MOLECULES

// ORGANISMS

// TEMPLATES

// PAGES

/**
* App specific CSS
**/
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  grid-template-columns: 300px 1fr;
}

.sidebar nav ul {
  list-style-type: none;
}

.fullscreen-view {
  @apply relative min-h-screen;

  .shrink-button {
    @apply fixed bottom-4 left-4 min-w-px;
  }
}

// Change img svg icon color
// Keep it for reference
// .some-icon {
//   filter: invert(.5) sepia(1) saturate(3) hue-rotate(85deg);
// }
