@use 'sass:meta';

@use 'assets/css/reset.css';
@use 'assets/css/normalize.css';

// ATOMS
@include meta.load-css('../resources/scss/atoms/buttons/buttons');
@include meta.load-css('../resources/scss/atoms/tags/tags');

// MOLECULES

// ORGANISMS

// TEMPLATES

// PAGES

/**
* App specific CSS
**/
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  grid-template-columns: 300px 1fr;
}

.sidebar nav ul {
  list-style-type: none;
}
